.weather-app {
  margin: 0 20px;
  padding: 20;
  margin-top: 30;
}

.forecast-summaries {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  font-size: large;
  border: black;
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  mix-blend-mode: multiply;
}

.forecast-summary {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
  height: 250px;
  height: 80%;
  width: 80%;
}
