@import url("https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Abel", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #91dbee;
  font-size: 25px;
  letter-spacing: -0.7px;
  font-weight: 200;
  line-height: 1.07;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
